<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="navbar">

        <div class="logo">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="">
            <h1>Test</h1>
        </div>
        <ul>
            <li class="nav-links">
                <a href="" >tombol 1</a>
            </li>
            <li class="nav-links">
                <a href="" class="nav-links">tombol 2</a>
            </li>
        
        </ul>

    </nav>
</body>
</html>