<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blind Bazaar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <main class="card">
        <header class="header">
            <div class="title">
                <h1>Blind Bazaar</h1>
            </div>
        </header>
        <div class="marquee"><span>Improve your football match with high quality power ups!</span></div>

    </main>

    <section class="card">
        <div class="about">
            <div class="pill">Name: {{ name }}</div>
            <div class="pill">NPM: {{ npm }}</div>
            <div class="pill">Class: {{ class }}</div>
        </div>
    </section>
</body>
</html>
