{% extends 'base.html' %}

{% block title %}Blind Bazaar{% endblock title %}

{% block content %}
<main class="card">
    <header class="header">
        <div class="title">
            <h1>Blind Bazaar</h1>
        </div>
    </header>
    <div class="marquee">
        <p>Improve your football match with cards and other power-ups!</p>
        {% if products %}
        <p>Now featuring {{ product_count }} high quality items.</p>
        {% else %}
        <p>Currently no items available. Consider adding them!</p>
        {% endif %}
    </div>

</main>

<!-- banner buat last login dll -->
<section class="card">
    <div>
        <div class="welcome">
            <h2>Welcome back, test!</h2>
        </div>
        <div class="last-login">
            <div class="pill">
                <span> Last login session: {{ last_login }}</span>
            </div>
        </div>
        <div class="logout">
            <a href="{% url 'main:logout' %}" class="buy-btn">Logout</a>
        </div>
    </div>
</section>

<section class="card">
    <div class="about">
        <div class="pill">Name: {{ name }}</div>
        <div class="pill">NPM: {{ npm }}</div>
        <div class="pill">Class: {{ class }}</div>
    </div>
</section>

<section class="card">
    <div class="shop">
        <a class="buy-btn" href="?filter=all">All Products</a>
        <a class="buy-btn" href="?filter=my" >My Products</a> 
        {% if products %}
        <div class="grid">
            {% for product in products %}
            <article class="shop-item">
                {% if product.thumbnail %}
                <div class="thumbnail">
                    <img src="{{ product.thumbnail }}" alt="{{ product.name }} thumbnail">
                </div>
                {% endif %}
                <h3>{{ product.name }}</h3>
                <p class="price">${{ product.price }}</p>
                <p class="meta">{{ product.get_rarity_display }} {{ product.get_category_display }}</p>
                <p class="description">{{ product.description }}</p>
                <div class="card-actions">
                    <a class="buy-btn" href="{% url 'main:product_detail' product.id %}">Detail</a>
                </div>
            </article>
            {% endfor %}
        </div>

        {% endif %}
    </div>
    <div class=""add-product-container>
        <a class="buy-btn" href="{% url 'main:product_add' %}">Add Product</a>
    </div>
</section>

{% endblock content %}
