{% extends 'base.html' %}
{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}


<section class="card">
    <div class="title">
        <h1>Register</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td><input  class="buy-btn" type="submit" name="submit" value="Register" /></td>
        </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</section>


{% endblock content %}